Django==1.6.1
argparse==1.2.1
beautifulsoup4==4.3.2
distribute==0.6.34
django-debug-toolbar==1.0
django-tastypie==0.11.0
ipython==1.1.0
python-dateutil==2.2
python-mimeparse==0.1.4
six==1.4.1
sqlparse==0.1.10
wsgiref==0.1.2
