Django==1.8.3
dj-database-url==0.3.0
django-debug-toolbar==1.2.2
django-haystack==2.3.1
elasticsearch==1.4.0
gunicorn==19.9.1
psycopg2==2.6
requests==2.6.2
simplejson==3.6.5
six==1.8.0
sqlparse==0.1.14
urllib3==1.10
