{% extends "base.html" %}

{% block content %}

{% if boxs %}

<!-- <div class="row"> &lt;!&ndash; search box &ndash;&gt;
    <div class="col-sm-6 col-md-4 col-md-offset-4">
     <form role="form" method="post" enctype="application/x-www-form-urlencoded" action="/search">
         {% csrf_token %}
        <div class="input-group">
            <input name='search' type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Search!</button>
      </span>

        </div>
     </form>
    </div>

</div>
<br/>
  &lt;!&ndash; end of search box &ndash;&gt;
<br/>-->

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <td>Box No.</td>
        <td>Date</td>
    </tr>
    </thead>
    <tbody>
    {% for i in boxs %}
    <tr>
        <td><a href="browse/{{ i.box_no }}/">{{ i.box_no }}</a></td>
        <td>{{ i.created_at }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
Your collection is empty
{% endif %}



{% endblock %}