<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hiren</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <img src="{% static 'xindex.jpg' %}" id="bg" alt="">
</head>
<body>
<div class="container">

        <div class="welcome">
            <h1>Hiren Disk</h1>
            <a href="/browse" class="btn btn-default btn-lg">
                <i class="fa fa-sign-in fa-lg"></i> Browse The Collection
            </a>
        </div>

</div>

</body>
</html>