<!DOCTYPE html>
<html>
  <head>
    <title>Hiren</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{% static "nisha/css/bootstrap.min.css" %}"rel="stylesheet">
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  </body>
</html>
